/web/WEB-INF/classes
/web/WEB-INF/lib
/target
.idea
.idea/libraries
.gradle
.settings
build
gwtClient/target/
gwtClient/build/
gwtClient/bin/
server/target/
server/build/
server/bin/
server/src/main/webapp/WEB-INF/lib
server/src/main/webapp/WEB-INF/classes
server/src/webapp/WEB-INF/classes/
web/WEB-INF/lib/
vagrant/.vagrant
subtitles.log
config/context.xml
gwtClient/src/main/gwt-UnitCache
gwtClient/war/ExplainCC
config/jndi.properties
config/context.xml
*.iml