<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/mysql"
              auth="Container"
              type="javax.sql.DataSource"
              username="root"
              password="123456"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3336/englishtranslator"
              validationQuery="select 1"
              maxActive="10"
              maxIdle="4"/>
</Context>