<div class="row">
    <div class="span10">
        <button ui:field="exportButton" class="btn btn-info">Export all words to CSV format</button>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable"
               id="excludedWords"></table>
    </div>
    <div id="csvPopup" class="white_content">
        <div id="test" class="pull-right">
            <button type="button" onclick="popup.hidePopupMessage();" class="btn btn-info"> X</button>
        </div>
        <textarea id="csvPopupPre" cols="3000" rows="15" style="width: 450px;"></textarea>
    </div>
</div>