<div ng-controller="OptionsController" class="row">
    <div class="span12">
        <form class="form-horizontal" action="">
            <fieldset>
                <legend>Options</legend>
                <div class="control-group">
                    <label class="control-label">Words occurrence level: </label>

                    <div class="controls">
                        <input class="input-mini focused"/>
                        <label class="help-inline">Rare words</label>
                        <input type="range" class="input focused inline"/>
                        <label class="help-inline">Common words</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Subtitle template:</label>

                    <div class="controls">
                        <input class="input span5 focused"/>
                        <button class="btn">Preview</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Phrasal verbs:</label>

                    <div class="controls">
                        <input type="checkbox" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Phrasal verbs template:</label>

                    <div class="controls">
                        <input  class="input span5 focused" text="" />
                        <button class="btn">Preview</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Subtitle type:</label>

                    <div class="controls">
                        <input type="radio" name="IN_TEXT">In Text</input>
                        <input type="radio" name="ONLY_TRANSLATION">Only translation
                        </input>
                    </div>
                </div>


                <div class="form-actions">
                    <button ui:field="save" class="btn btn-primary">Save</button>
                    <button ui:field="restore" class="btn">Restore default options</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>