<div ng-controller="OptionsController" class="row">
    <div class="span12">
        <form class="form-horizontal" action="">
            <fieldset>
                <legend>Options</legend>
                <div class="control-group">
                    <label class="control-label">Words occurrence level: </label>

                    <div class="controls">
                        <input ng-model="options.max" class="input-mini focused"/>
                        <label class="help-inline">Rare words</label>
                        <input ng-model="options.max" type="range" class="input focused inline"/>
                        <label class="help-inline">Common words</label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Subtitle template:</label>

                    <div class="controls">
                        <input ng-model="options.subtitleTemplate" class="input span5 focused"/>
                        <button class="btn">Preview</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Phrasal verbs:</label>

                    <div class="controls">
                        <input ng-model="options.phrasalVerbAdded" type="checkbox" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Phrasal verbs template:</label>

                    <div class="controls">
                        <input ng-model="options.phrasalVerbTemplate"  class="input span5 focused" text="" />
                        <button class="btn">Preview</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Subtitle type:</label>

                    <div class="controls">
                        <input type="radio" ng-click="changeSubtitleProcessor('IN_TEXT')" ng-checked="options.subtitleProcessor == 'IN_TEXT'" name="IN_TEXT">In Text</input>
                        <input type="radio" ng-click="changeSubtitleProcessor('ONLY_TRANSLATION')" ng-checked="options.subtitleProcessor == 'ONLY_TRANSLATION'" name="ONLY_TRANSLATION">Only translation</input>
                    </div>
                </div>


                <div class="form-actions">
                    <button ng-click="save()" class="btn btn-primary">Save</button>
                    <button ng-click="restoreDefaultOption()" class="btn">Restore default options</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>