<div class="row">
    <div class="span8">
        <form class="form-horizontal" action="">
            <fieldset>
                <legend>Reset Password</legend>
                <div class="control-group">
                    <label class="control-label">Email: </label>

                    <div class="controls">
                        <input ui:field="username" class="input-xlarge focused"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">New Password: </label>

                    <div class="controls">
                        <input ui:field="newPass" class="input-xlarge focused"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Repeat New Password: </label>

                    <div class="controls">
                        <input ui:field="repeatPass" class="input-xlarge focused"/>
                    </div>
                </div>
                <div class="form-actions">
                    <button ui:field="reset" class="btn btn-primary">Reset</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>