<div class="row">
    <div class="span10 well">

        <div class="slide">
            <div class="carousel-inner">
                <div class="active item">
                    <img src="img/himym.png" alt=""/>
                </div>
            </div>
        </div>

        <br/>

        <div style="text-align: center;">
            <a href="#translate"><button class="btn btn-success btn-large big-button">Get Started</button></a>
            <a href="#about"><button class="btn btn-large big-button">Learn More</button></a>
        </div>

    </div>


</div>